body,
p,
i,
div {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: rgb(0, 0, 0);
}

/* TIME */
.outer-circle {
  text-align: center;
  color: #fff;
  font-size: 50px;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(73px * 3.5);
  height: calc(73px * 3.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle at 50% 50%,
    rgb(9, 9, 9) 0%,
    rgb(9, 9, 9) 65%,
    rgb(35, 35, 35) 71%,
    rgb(45, 45, 45) 100%
  );
}
.blue-text {
    color: rgb(65, 107, 251);
}

/* BUTTON */
.button {
  position: fixed;
  bottom: 100px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: rgb(65, 107, 251);
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAVBAR */
/* Sticky navbar */
.navbar {
  background-color: rgb(20, 20, 20);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid rgb(67, 67, 67);
  display: flex;
  justify-content: center;
}
/* Style buttons */
.navbar div {
  color: #938d93;
  text-align: center;
  /* padding: 14px 16px; */
  padding: 11px 13px;
  text-decoration: none;
  width: 73px;
}
.navbar p {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-size: 14px;
  margin-top: 4px;
}
.navbar i {
  font-size: 25px;
}
/* Hover */
.navbar div:hover {
  background-color: #535353;
  color: #e8e8e8;
}
/* Active button */
.navbar div.active {
  background-color: #2a2a2a;
  color: #e8e8e8;
}
